[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/Gestion-Productos/client-gateway.git
[submodule "products-microservice"]
	path = products-microservice
	url = https://github.com/Gestion-Productos/products-microservice.git
